<a href="https://colab.research.google.com/github/HenryJi529/ColabNotebooks/blob/main/PracticeAutoGluon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Autogluon 是一个自动机器学习框架，旨在简化模型选择和超参数调整过程，使得机器学习模型的训练和部署更加易于使用和高效。

Autogluon 采用深度学习技术，基于神经网络结构搜索和自动超参数优化，可以自动选择和调整最优的模型和超参数组合，以实现最佳的预测性能。

Autogluon 的主要优点包括：

* 自动化：可以自动选择和调整最优的模型和超参数组合，无需人工干预；
* 高效性：可以在多个GPU上进行并行训练，提高训练效率；
* 灵活性：支持多种类型的机器学习任务，包括分类、回归、目标检测、文本分类等；
* 易用性：提供了简单易用的API和交互式的用户界面，方便用户进行使用和调试。

总的来说，Autogluon 技术可以帮助用户更加快速、高效地构建和部署机器学习模型，是一个非常有价值的技术。

In [ ]:
try:
  import autogluon
except:
  !pip install autogluon
  import autogluon

In [ ]:
from autogluon.tabular import TabularDataset, TabularPredictor

data_root = 'https://autogluon.s3.amazonaws.com/datasets/Inc/'
train_data = TabularDataset(data_root + 'train.csv')
test_data = TabularDataset(data_root + 'test.csv')

predictor = TabularPredictor(label='class').fit(train_data=train_data)
predictions = predictor.predict(test_data)

Loaded data from: https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv | Columns = 15 / 15 | Rows = 39073 -> 39073
Loaded data from: https://autogluon.s3.amazonaws.com/datasets/Inc/test.csv | Columns = 15 / 15 | Rows = 9769 -> 9769
No path specified. Models will be saved in: "AutogluonModels/ag-20230412_013352/"
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels/ag-20230412_013352/"
AutoGluon Version:  0.7.0
Python Version:     3.9.16
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Sat Dec 10 16:00:40 UTC 2022
Train Data Rows:    39073
Train Data Columns: 14
Label Column: class
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [' <=50K', ' >50K']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 =  >50K, class 0 =  <=50K
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive ( >50K) vs negative ( <=50K) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    11140.87 MB
	Train Data (Original)  Memory Usage: 22.92 MB (0.2% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])    : 6 | ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', ...]
		('object', []) : 8 | ['workclass', 'education', 'marital-status', 'occupation', 'relationship', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 7 | ['workclass', 'education', 'marital-status', 'occupation', 'relationship', ...]
		('int', [])       : 6 | ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', ...]
		('int', ['bool']) : 1 | ['sex']
	0.3s = Fit runtime
	14 features in original data used to generate 14 features in processed data.
	Train Data (Processed) Memory Usage: 2.19 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.33s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.0639828014229775, Train Rows: 36573, Val Rows: 2500
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.7752	 = Validation score   (accuracy)
	0.05s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.766	 = Validation score   (accuracy)
	0.05s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.8792	 = Validation score   (accuracy)
	2.91s	 = Training   runtime
	0.13s	 = Validation runtime
Fitting model: LightGBM ...
	0.8824	 = Validation score   (accuracy)
	2.35s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.8612	 = Validation score   (accuracy)
	11.16s	 = Training   runtime
	0.21s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.8584	 = Validation score   (accuracy)
	15.05s	 = Training   runtime
	0.22s	 = Validation runtime
Fitting model: CatBoost ...
	0.8836	 = Validation score   (accuracy)
	40.31s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.8528	 = Validation score   (accuracy)
	7.04s	 = Training   runtime
	0.26s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.8524	 = Validation score   (accuracy)
	9.3s	 = Training   runtime
	0.46s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 9: early stopping
	0.8644	 = Validation score   (accuracy)
	55.62s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: XGBoost ...
	0.8872	 = Validation score   (accuracy)
	9.1s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.8592	 = Validation score   (accuracy)
	50.6s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8856	 = Validation score   (accuracy)
	2.44s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	0.8912	 = Validation score   (accuracy)
	1.7s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 213.4s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20230412_013352/")

In [ ]:
train_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,178478,Bachelors,13,Never-married,Tech-support,Own-child,White,Female,0,0,40,United-States,<=50K
1,23,State-gov,61743,5th-6th,3,Never-married,Transport-moving,Not-in-family,White,Male,0,0,35,United-States,<=50K
2,46,Private,376789,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,15,United-States,<=50K
3,55,?,200235,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,50,United-States,>50K
4,36,Private,224541,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,El-Salvador,<=50K

In [ ]:
test_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,31,Private,169085,11th,7,Married-civ-spouse,Sales,Wife,White,Female,0,0,20,United-States,<=50K
1,17,Self-emp-not-inc,226203,12th,8,Never-married,Sales,Own-child,White,Male,0,0,45,United-States,<=50K
2,47,Private,54260,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,60,United-States,>50K
3,21,Private,176262,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,30,United-States,<=50K
4,17,Private,241185,12th,8,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K

In [ ]:
predictions[:5]

0     <=50K
1     <=50K
2      >50K
3     <=50K
4     <=50K
Name: class, dtype: object

In [ ]:
predictor.evaluate(test_data, silent=True)

{'accuracy': 0.8763435356740711,
 'balanced_accuracy': 0.7950062351568354,
 'mcc': 0.6395678748952276,
 'roc_auc': 0.9313343583022542,
 'f1': 0.710727969348659,
 'precision': 0.798708288482239,
 'recall': 0.640207075064711}